.sidebar {
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  width: 60px;
  background-color: #f7f6f6;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  /* background-color: aqua; */
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: #e0e0e0;
}

.sidebar-icons {
  height: 22px;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar p {
  margin: 0;
  font-size: 8px;
}
